/* Styles for my portal page */

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background:dimgrey;
}

#wrapper {
    max-width:1200px;
    margin:20px auto;
}

nav {
    height:60px;
    background:lemonchiffon;
    line-height:60px;
    margin-bottom:20px;
}

nav li{
    float:left;
    width:16.66%;
    text-align:center;
    list-style-type:none;
}

nav a {
    color:darkslategrey;
    text-decoration:none;
}


h1 a {
        color:aliceblue;
    text-decoration:none;
}

ol a {
    color:darkslategrey;
    text-decoration:none;
}
    


main {
    width:62%;
    float:left;
}

aside {
    width:35%;
    float:right;
    padding-top: 10px;
    margin-bottom: 30px;
    background-color:lemonchiffon;
}


#half-left {
    width:45%;
    float:left;
    
}

#half-right {
    width:45%;
    float:right;
   
}

footer{
    height:60px;
    line-height: 60px;
    background:lemonchiffon;
    clear:both;
    
    
}

footer ul{
    display:flex;
    justify-content:center;
    list-style-type:none;
}

footer li{
    margin:0 15px;
    
}

/* typorgraphy */

h1{
    text-align: center;
    font-size: 3em;
    margin:20px 0;
    
}

h2{
    font-size:2em;
    text-align:center;
    margin-bottom:20px;
    color:aliceblue;
}

aside h2, aside h3{
    color:darkslategrey;
    margin-left: 20px;
    
}

main h2, aside h2{
    text-align:left;
}

h3{
    color:aliceblue;
    margin-bottom:5px;
}

p{
    font-size: 1em;
    margin-bottom: 20px;
    color:aliceblue;
}

ol{
    padding-left: 30px;
    color:darkslategrey; 
    margin-bottom: 20px;
}

ol li {
    text-align: left;
}

hr {
    color: darkslategrey;
    margin-bottom: 30px;
    clear:both;
}

img {
    margin-bottom: 30px;
    display:block;
}

.right {
    float:right;
    width:300px;
    margin-left: 20px;
}

.homework {
    width:700px;
    /* margin:20px auto; */
    float:left;

}



