/* styles for homework calculator form */

*{
 padding:0;
 margin:0;
 box-sizing: border-box;

}

body{
    background: rgb(249, 247, 244);
}

form{
    background: rgb(238, 238, 248);
    max-width:400px;
    margin:20px auto;
    border: 2px groove goldenrod;
}

fieldset {
    padding: 12px;
    
}

label {
    display:block;
    margin-bottom:5px;
    font-weight:bold;
}

input[type=text],
input[type=email],
input[type=number]{
    width:100%;
    height:30px;
    margin-bottom:10px;
    padding-left: 5px;
    border: 1px groove goldenrod;
    
}

input[type=sumit]{
    margin-bottom: 10px;
}

select {
    display:block;
    margin-bottom:10px;
}

form ul{
    margin-bottom:10px;
    list-style-type:none;
}

.box {
    max-width:400px;
    background: rgb(246, 209, 135);
    padding:10px;
    margin:0 auto;
    border: 2px groove goldenrod;
}


h1{
    color:rgb(128, 95, 52);
    text-align:center;
}

.center{
    text-align:center;
}

.error {
    color: red;
    font-style:italic;
    text-align:center;
}
